.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}.butmid {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.plainlink {
    color: #000000;
    text-decoration: none;
}

.highlight {
  background-color:#586069;
  margin:0 -8px; padding:0 8px;
}

.html {
  scroll-behavior: smooth;
}

.main {
  max-width: 700px;
  margin: 3rem auto;
  padding: 0 1rem;
}

#scroll-to-bottom {
  color: white;
}

/* lyrics */

p.song span {
  display: none;
}
p.song.show-chords p {
  line-height:2.3em;
  margin-bottom:2em;
}
p.song.show-chords span {
  position: relative;
  top: -1em;
  display:inline-block;
  width: 0;
  overflow:visible;
  color:#000000;
  font-weight:bold;
}
